# dependencies
node_modules
.pnpm-store

# builds
dist
build
.next
out
.turbo

# env
.env
.env.*
!.env.example

# logs / debug
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# testing / coverage
coverage

# misc
*.local
/nextjs
/tufily
/opencode